body {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --white: #ffffff;
  --studio: #2196f3;
  --tel: #757575;
  --black: #212121;
  --alsoback: #f5f4fa;
  --footer: #2f303a;
  --company: #afb1b8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  padding: 25px 0 25px 0;
}

.header__nav__list {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.header__nav__item__link1 {
  color: var(--studio);
  font-family: "Roboto", serif;
}

.header__nav__item__link1::after {
  display:block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--studio);
  content: "";
}

.header__nav__item__link1:hover {
  cursor: pointer;
}

.header__nav__item__link2 {
  color: var(--black);
  font-family: "Roboto", serif;
}

.header__nav__item__link2:hover {
  cursor: pointer;
  color: var(--studio);
}

.header__nav__item__link3 {
  color: var(--black);
  font-family: "Roboto", serif;
}

.header__nav__item__link3:hover {
  cursor: pointer;
  color: var(--studio);
}

.header__div2 {
  display: flex;
  gap: 30px;
  align-items: baseline;
  font-family: "Roboto", serif;
}

.icon-post__div {
  align-items: baseline;
  display: flex;
  gap: 10px;
}

.icon-post {
  fill: var(--tel);
  width: 16px;
  height: 12px;
}

.icon-post:hover {
  cursor: pointer;
  fill: var(--studio);
}

.header__div2__link1 {
  color: var(--tel);
}

.header__div2__link1:hover {
  cursor: pointer;
  color: var(--studio);
}

.icon-smartphone__div {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.icon-smartphone {
  fill: var(--tel);
  width: 10px;
  height: 16px;
}

.icon-smartphone:hover {
  cursor: pointer;
  fill: var(--studio);
}

.header__div2__link2 {
  color: var(--tel);
}

.header__div2__link2:hover {
  cursor: pointer;
  color: var(--studio);
}

.webstudio__section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Img.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 140px 0;
}

.webstudio__section1__text {
  color: var(--white);
  font-family: "Roboto", serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}

.webstudio__section1__button {
  background-color: var(--studio);
  color: var(--white);
  border: var(--studio);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 4px 3px 34px 0px rgba(0, 0, 0, 0.75);
}

.webstudio__section1__button:hover {
  cursor: pointer;
  background-color: rgb(31, 33, 173);
}

.webstudio__section2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 94px 0 118px 0;
}

.webstudio__section2__text1 {
  color: var(--black);
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 30px;
}

.webstudio__section2__text2 {
  color: var(--tel);
  font-family: "Roboto", serif;
  width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.webstudio__section3 {
  padding-bottom: 95px;
}

.webstudio__section3__h1 {
  color: var(--black);
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.webstudio__section3__div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box {
  position: relative;
}

.position {
  color: var(--white);
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  position: absolute;
  top: 224px;
  background-color: #2f303acc;
  opacity: 0.8;
  margin: 0;
}

.text1 {
  padding: 27px 107px;
}

.text2 {
  padding: 27px 113px;
}

.text3 {
  padding: 27px 94px;
}

.webstudio__section4 {
  background-color: var(--alsoback);
  padding: 94px 0;
}

.webstudio__section4__h1 {
  color: var(--black);
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.webstudio__section4__div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.webstudio__section4__div1 {
  background-color: var(--white);
  width: 270px;
  height: 428px;
  border-radius: 4px;
  box-shadow: 1px 5px 5px 0px rgba(175, 166, 166, 0.75);
  border-radius: 4px;
}

.img {
  width: 270px;
  height: 260px;
}

.webstudio__section4__text1 {
  font-family: "Roboto", serif;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
}

.webstudio__section4__text2 {
  font-family: "Roboto", serif;
  color: var(--tel);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
}

.icons {
  padding: 16px 0 30px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  fill: var(--tel);
}

.back:hover {
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--studio);
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover {
  padding: 10px;
  fill: var(--white);
}

.webstudio__section5 {
  padding: 94px 0;
}

.webstudio__section5__h1 {
  color: var(--black);
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.icons__div {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0 0 0;
}

.icon-company {
  width: 106px;
  height: 60px;
  fill: var(--company);
  border: 1px solid var(--company);
  border-radius: 4px;
  padding: 32px;
}

.icon-company:hover {
  cursor: pointer;
  fill: var(--studio);
  border-color: var(--studio);
}

.footer {
  background-color: var(--footer);
  padding: 60px 0 60px 15px;
  display: flex;
  gap: 70px;
}

.footer__address {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-top: 20px;
}

.footer__link1 {
  font-family: "Roboto", serif;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  opacity: 0.6;
  padding-top: 20px;
}

.footer__link2 {
  font-family: "Roboto", serif;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  opacity: 0.6;
  padding-top: 20px;
}

.footer2__text {
  color: var(--white);
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer__icons {
  padding: 20px 0 0 0;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

.footer__back {
  background-color: #ffffff1a;
  border-radius: 100px;
  padding: 10px;
}

.footer__back:hover {
  background-color: var(--studio);
  cursor: pointer;
}

.footer__icons {
  fill: var(--white);
  display: flex;
  gap: 10px;
}

.footer3__input {
  background-color: var(--footer);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ffffff4d;
  color: var(--white);
  opacity: 0.6;
  line-height: 20px;
  letter-spacing: 0.03em;
  font: 400 16px "Roboto", serif;
}

.footer3__button {
  color: var(--white);
  font: 700 16px "Roboto", serif;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--studio);
  border: 2px solid var(--studio);
}

.footer3__button:hover {
  background-color: rgb(31, 33, 173);
  cursor: pointer;
  border: 2px solid rgb(31, 33, 173);
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  opacity: 1;
}

.backdrop.is-hidden {
   opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white);
  transform: translate(-50%, -50%);
}  */

.gav1 {
  position: absolute;
  top: 105px;
  left: 53px;
}

.gav2 {
  position: absolute;
  top: 187px;
  left: 53px;
}

.gav3 {
  position: absolute;
  top: 270px;
  left: 53px;
}

.modal__label__input__svg {
  fill: var(--black);
  width: 18px;
  height: 18px;
  position: absolute;
}

.button__close {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--white);
  border: 1px solid #0000001a;
  margin-left: 490px;
}

.button__close:hover {
  cursor: pointer;
  fill: var(--studio);
}

.modal__cross {
  width: 11px;
  height: 11px;
}

.modal__h5 {
  color: var(--black);
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  font: 700 20px "Roboto", serif;
  margin: 0;
}

.modal__form {
  margin: 10px 41px 165px;
}

.modal__label__text {
  color: var(--tel);
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  font: 400 12px "Roboto", serif;
}

.modal__label__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;
}

.modal__label__input:focus-within {
  outline: 1px solid var(--studio);
}

.modal__label__textarea__textarea {
  color: var(--tel);
  opacity: 0.5;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #21212133;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  font: 400 12px "Roboto", serif;
  padding-top: 12px;
  padding-left: 16px;
  margin: 0;
}

.modal__label__textarea__textarea:focus-within {
  outline: 1px solid var(--studio);
}

.label__div {
  display: flex;
  gap: 8px;
  padding: 10px 0 10px 0;
  margin: 0;
}

.label {
  color: var(--tel);
  line-height: 24px;
  letter-spacing: 0.03em;
  font: 400 14px "Roboto", serif;
}

.label__link {
  color: var(--studio);
  line-height: 24px;
  letter-spacing: 0.03em;
  font: 400 14px "Roboto", serif;
}

.button__form {
  color: var(--white);
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  font: 700 16px "Roboto", serif;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--studio);
  border: 1px solid var(--studio);
  margin-left: 100px;
}

.button__form:hover {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000026;
}
